@import "src/constants.scss";

.pageContainer {
  padding-top: 64px;
  width: 100%;
  max-width: 1248px;
  margin: auto;
  .welcomeContainer {
    width: 100%;
    background-image: url(https://cdn.cms-twdigitalassets.com/content/dam/careers-twitter/jobs/jobsmasterhead.jpg);
    background-color: lightblue;
    background-position: 50% 50%;
    background-size: cover;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    p {
      padding-top: 60px;
      font-size: 32px;
      font-weight: bold;
      color: white;
      margin-bottom: 30px;
    }
    .inputWrapper {
      border-radius: 30px;
      // border: solid 1px black;
      height: 46px;
      display: flex;
      flex-direction: row;
      background-color: white;
      input {
        padding: 0 20px;
        font-size: 16px;
        width: 100%;
        border-radius: inherit;
      }
      .searchButton {
        padding: 0px 30px;
        border-radius: 30px;
        font-size: 16px;
        color: white;
        background-color: red;
        cursor: pointer;
      }
    }
  }
  .widthDefault {
    padding: 0 5px;
    .moviesWrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      // width: 100%;

      //egentligen i en till wrapper
      //margin-left: -10px;
      // margin-right: -10px;
    }
  }
}
.paginationWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  .pagination {
    display: flex;
    flex-direction: row;
    li {
      margin: 0 4px;
    }
  }
}

@media only screen and (max-width: $lg) {
  .pageContainer .welcomeContainer {
    border-radius: 0px;
  }
}

@media only screen and (max-width: $md) {
  .pageContainer .welcomeContainer {
    p {
      padding-top: 50px;
      font-size: 24px;
      margin-bottom: 30px;
    }
    .inputWrapper {
      border-radius: 30px;
      height: 36px;
      input {
        padding: 0 16px;
        width: 100%;
        border-radius: inherit;
      }
      .searchButton {
        padding: 0px 24px;
        border-radius: 30px;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: $sm) {
  .pageContainer .widthDefault {
    padding: 0;
  }
}
