.headerContainer {
    position: absolute;
    height: 64px;
    width: 100%;
    z-index: 9000;
    top: 0;
    left: 0;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    .headerContent {
        width: 100%;
        max-width: 1248px;
        margin: auto;
    }
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul .menuItem {
    color: #FFFF;
    margin-right: 20px;
    a {
        color: inherit;
    }
}